#########################################
# ENV FILES (VERY IMPORTANT)
#########################################

.env
.env.local
.env.development
.env.production
.env.test

#########################################
# NODE MODULES
#########################################

node_modules/

#########################################
# LOG FILES
#########################################

logs
*.log
npm-debug.log*

#########################################
# BUILD FILES
#########################################

dist/
build/

#########################################
# TEST COVERAGE
#########################################

coverage/

#########################################
# OS FILES
#########################################

.DS_Store
Thumbs.db

#########################################
# IDE FILES
#########################################

.vscode/
.idea/

#########################################
# SECURITY FILES
#########################################

*.pem
*.key
*.crt
